git+https://github.com/NVIDIA/NeMo.git # temporary, since NeMo 1.23.0 does not support np.ndarray or torch.tensor 
hydra-core
pytorch-lightning
transformers
datasets
sentencepiece
webdataset
##
braceexpand
editdistance
g2p_en
ipywidgets
jiwer
kaldi-python-io
kaldiio
lhotse>=1.20.0
librosa>=0.10.0
marshmallow
matplotlib
packaging
pyannote.core
pyannote.metrics
pydub
pyloudnorm
resampy
ruamel.yaml
scipy>=0.14
soundfile
sox
texterrors
